section.tif-pod {
  height: 750px;
  position: relative;
  img {border-radius: 10px;}
  h2 {
    font-size: 42px;
    position: relative;
    display: inline-flex;
    gap: 4px;
  }
  &::after {
    content: '';
    display: block;
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }
  @media screen and (max-width:1200px) {
    &::after {
      height: 100% !important;
    }
    .row {
      gap: 25px;
      display: grid;
      width: 100% !important;
    }
  }
}