<div class="panel-container mw-100 vh-100">
  <div class="item">
  </div>
  <div class="item mobile-focus">
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <span class="text-wrapper">
    <h1 class="font-trojan fw-normal text-white lh-70">Pearson</h1>
    <h3 class="font-trojan fw-normal text-white">The school of excellence</h3>
  </span>
  <span class="cta-wrapper">
    <div class="row w-100 d-flex">
      <div class="col-12 col-lg-6 d-grid">
        <h4>Upcoming Events</h4>
        <p class="fw-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        <button class="btn btn-light fw-light"><span>All Events</span></button>
      </div>
      <div class="col-12 col-lg-6 d-none d-md-none d-lg-grid">
        <h4>Admissions</h4>
        <p class="fw-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        <button class="btn btn-light fw-light"><span>Enroll Now</span></button>
      </div>
    </div>
  </span>
</div>