<ul class="fw-light">
  <li><i class="fa-brands fa-square-facebook"></i><a href="#">Facebook</a></li>
  <li><i class="fa-brands fa-square-instagram"></i><a href="#">Instagram</a></li>
  <li><i class="fa-brands fa-linkedin"></i><a href="#">LinkedIn</a></li>
  <li><i class="fa-solid fa-phone"></i><a href="tel:#">(041) 583 2111 - Skoolhoof / Principal</a></li>
  <li><i class="fa-solid fa-phone"></i><a href="tel:#">(041) 583 4359 - Skoolwinkel / School Shop</a></li>
  <li><i class="fa-solid fa-envelope"></i><a href="mailto:#">phs@pearsonhighschool.com</a></li>
</ul>